.login_container{
  width: 100%;
  height: 100vh;
  background: url('@/assets/images/background.jpg') no-repeat;
  background-size: cover;

  .login_form {
    position: relative;
    width: 80%;
    top: 30vh;
    background: url('@/assets/images/login_form.png') no-repeat;
    background-size: cover;
    padding: 40px;
    color: white;
    margin:0 auto;
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 20px;
      margin: 20px 0;
    }

   		.login-btn {
				width: 100%;
				margin-top: 10px;
				white-space: nowrap;
				.ant-form-item-control-input-content {
					display: flex;
					justify-content: space-between;
					.ant-btn {
						width: 180px;
						span {
							font-size: 14px;
						}
					}
				}
			}
  }
}

