
.layout_container{
  height: 100vh;
  width:100%;
  background-color: #e4e7ed ;
  .logo{
    display: flex;
		align-items: center;
		justify-content: center;
		height: 55px;
    .logo_img{
      width: 30px;
			margin: 0;
    }
    .logo-text {
			margin: 0 0 0 10px;
			font-size: 24px;
			font-weight: bold;
			color: #dadada;
			white-space: nowrap;
		}
  }
  .ant-layout-header{
    height: $base_tab_height;
    padding: 0 40px 0 20px;
    background: none;
    background-color: #ffff;
    border-color: #f6f6f6;
  }

  .ant-card-body{
     height: calc(100vh - $base_tab_height - 20px);
  }
}

